<% @posts.each do |post| %>
<div class="post-preview">
    <a href="<%= post_path(:id => post.id) %>">
        <h2 class="post-title">
            <%= post.title %>
        </h2>
        <h3 class="post-subtitle">
            <%= post.summary %>
        </h3>
    </a>
    <p class="post-meta">Posted by <a href="#"><%= post.author %></a></p>
</div>
<hr/>
<% end %>
