// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  margin: 0px;
  height: 100%;
}

a {
  text-decoration: none !important;
  color: grey !important;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #e4e4e4;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

p {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  font-style: normal;
  text-align: left;
  color: black !important;
}

img {
  margin: 0px;
  height: 140px;
  width: 100%;
  display:inline;
  overflow: hidden;
}

ul li{
  display: inline;

}

h1 {
  font-size: 1.5em;
  color: black;
  margin-top: 0px;
  display: inline-block;
  margin-bottom: 0px;
}

ul {
  margin-top: 0px;
}

h2 {
  font-style: oblique;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 14px;
  background-image: url("bg2.jpg");
  margin-top: 0px !important;
  padding-left: 15px;
  border-radius: 10px;
}

h3 {
  font-size: 45px;
  margin-bottom: 10px;
  background-size: cover;
  color: white;
  margin-top: 0px;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 0px;
  color: black;
}

h4 {
  margin-left: 10px;
  margin-top: 160px;
  font-size: 40px;
  color: #E4E4E4;
  font-family: 'Droid Sans', sans-serif;
}

hr {
  margin-top: 15px;
}

.image_text {
  position: relative;
  top: -21px;
  right: -15px;
  color: white !important;
}

.text-center {
  background-image: url("bg2.jpg");
  margin-bottom: 0px;
  margin-top: 0px;
  width: 100%;
  background-size: cover;
  height: 50px;
  font-size: 36px !important;
}


.container {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0px;
  width: 60% !important;
}

.row {
  color: #b2b2b2;
}

.container-fluid {
  padding: 0px !important;
  width: 100%;
  overflow: hidden;
}

.jumbotron {
  background-image: url("image1.jpg");
  background-size: 100%;
  height: 430px;
  max-width: 100%;
  background-repeat: no-repeat;
  // min-height: 400px;
  position: relative;
}

.navbar {
    position: absolute !important;
    top: 0px;
    width: 100%;
    height: 40px;
}

.jumbotron, .container-fluid .jumbotron {
  padding-left: 0px !important;
}

.post-subtitle {
  color: #4c4c4c;
  font-size: 17px;
}

.post_header {
  text-align: center;
}

.sub__footer {
  margin: auto;
  font-size: 0;
  width:100%;
}

.col-xs-3 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: 140px;
}

.navbar-brand {
  font-size: 13px !important;
}
.nav_footer {
  min-height: 100px;
  background-color: #B8B8B8;
  background-image: url("bg2.jpg");
  background-size: cover;
}
.smedia3 {
  font-size: 16px;
  text-align: right;
  padding-top: 34px;
  padding-right: 17px;
}
.smedia3 li {
  border-left: 3px solid gray;
  margin: 2px;
  padding: 12px;
  text-decoration: none;
}


.wrapper__side {
  text-align: center;
  display: inline-block;
  width: 30%;
  position: relative;
  padding: 33px;
  padding-right: 30px;
  margin-left: 0px;
  right: 0px;
  height: 600px;
}

.smedia {
  text-align: center;
  padding-right: 20px;
  padding-left: 15px;
}

.smedia li {
  padding-top: 0px;
  padding: 4px;
  text-align: left;
  font-size: 10px;
  color: grey;
  font-size: 14px;
}

.company {
  font-size: 16px;
  text-align: left;
  position: absolute;
  padding-top: 35px;
  padding-left: 70px;
  color: #d3d3d3;
}

.smedia2 {
  margin-left: 56px;
  display: inline-block;
  padding: 15px;
  font-size: 15px;
  margin-left: 0px;
  padding-left: 0px;
}

.quotes {
  background-image: url("bg1.jpg");
  border-radius: 15px;
  width: 77%;
  margin-left: 36px;
  font-size: 14px;
}

.footer_title {
  margin-bottom: 20px;
}

#header2 {
  min-height: 1px;
  background-image: url("bg2.jpg");
  background-size: cover;
  border-radius: 15px;
  width: 100%;
  margin-top:  30px;
  margin-bottom: 30px;
}

#logo1 {
  height: 30px;
  width: 30px;
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#headliner {
  font-size: 40px;
  line-height: 100%;
  background-image: url("bg2.jpg");
  border-radius: 15px;
  margin-bottom: 0px;
  width: 100%;
}

#logo2 {
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  width: 60px;
}

#stamp {
  border-radius: 150px;
  width: 20px;
}

#side_image {
  width: 70%;
  height: 170px;
  border-radius: 25px 25px 1px 1px;
}

#logo3 {
  height: 60px;
  width: 60px;
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
}

#villain {
  width: 100%;

}
